@model Garage3.Models.ParkingPlace

@{
    ViewData["Title"] = "Create";
}

<h1 class="bg-info border rounded-lg font-weight-bold text-light p-2 ">CREATE PARKING PLACE</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller ="ParkingPlaces" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Arrival" />
            <input type="hidden" asp-for="VehicleId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="text-info">BACK TO THE LIST</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
