@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">THE GARAGE 3.0</h1>
    <p> WELCOME TO THE GARAGE 3.0!</p>
    <p> SERVICES FOR ALL TYPES OF VEHICLES</p>
</div>
<h3 class="text-center">@Html.ActionLink("REGISTER USER", "Add", "Users", null, new { title = "Register user." })</h3>
